@model HitchFrontEnd.Models.OrderUserDataDto
<form method="post" asp-action="ReviewOrder">
    <input asp-for="id" hidden />
    <div class="row">
         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-2">
                <label asp-for="Name" class="control-label pt-2" style="font-size:20px;"></label>
        </div>
        <div class="col-10 pb-3">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
            <div class="col-2">
                <label asp-for="Email" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
            <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-2">
            <label asp-for="PhoneNumber" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="col-2">
            <label asp-for="Location" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="col-5">
                <input type="submit" value="Continue to review Order" class="btn btn-success form-control" />
            </div>
    </div>
</form>
